node-linker=hoisted
shamefully-hoist=true
save-exact=true
# save-prefix is intentionally left empty to avoid adding a prefix (like ^ or ~) to dependency versions.
save-prefix=
auto-install-peers=true
strict-peer-dependencies=false
