name: Continuous Delivery

on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true
  MAIN_BRANCH: "main"

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Check for known security issues with npm packages
        run: |
          echo "Auditing npm dependencies before installing them. For more information."
          pnpm audit --audit-level critical

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

  lint:
    runs-on: ubuntu-latest
    needs: install
    env:
      NODE_OPTIONS: "--max-old-space-size=6114"

    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Check for known security issues with npm packages
        run: |
          echo "Auditing npm dependencies before installing them. For more information."
          pnpm audit --audit-level critical

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: "Continuous Integration: lint"
        run: |
          pnpm run --if-present lint

  build:
    runs-on: ubuntu-latest
    needs: install
    env:
      NODE_OPTIONS: "--max-old-space-size=6114"

    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Check for known security issues with npm packages
        run: |
          echo "Auditing npm dependencies before installing them. For more information."
          pnpm audit --audit-level critical

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: "Continuous Integration: lint build"
        run: |
          pnpm run --if-present lint-build

      - name: "Continuous Integration: test build"
        run: |
          pnpm run --if-present test-build

      - name: "Continuous Integration: Git status"
        shell: bash
        run: |
          if git diff --no-ext-diff --quiet --exit-code ; then
            echo "No unstaged changes that would prevent 'npm publish'"
            exit 0
          else
            echo "The following unstaged changes occur after the build step. Add the files to Git or specify the paths in '.gitignore' to proceed."
            git diff --exit-code
            exit 1
          fi

  test:
    runs-on: ubuntu-latest
    needs: install
    env:
      NODE_OPTIONS: "--max-old-space-size=6114"

    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Check for known security issues with npm packages
        run: |
          echo "Auditing npm dependencies before installing them. For more information."
          pnpm audit --audit-level critical

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: "Continuous Integration: test"
        run: |
          pnpm run --if-present test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  publish-npm:
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.ref == 'refs/heads/main'
    environment: publish

    env:
      NODE_OPTIONS: "--max-old-space-size=6114"

    permissions:
      contents: read # since GH_TOKEN is provided, we only need 'read'
      id-token: write

    steps:
      - name: Checkout release branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: "Continuous Deployment: install"
        run: |
          pnpm install --frozen-lockfile

      - name: "Continuous Deployment: build"
        run: |
          pnpm run --if-present build

      - name: Software Bill of Materials (SBoM)
        uses: anchore/sbom-action@deef08a0db64bfad603422135db61477b16cef56 # v0.22.1
        # Permissions to add the SBoM to the GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          format: cyclonedx-json

      - name: Set up Node.js that is compatible with OIDC
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: "Continuous Deployment: publish changeset to GitHub repository"
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        id: changeset
        env:
          GIT_AUTHOR_EMAIL: "devops@frameless.io"
          GIT_AUTHOR_NAME: "Frameless DevOps"
          GIT_COMMITTER_EMAIL: "devops@frameless.io"
          GIT_COMMITTER_NAME: "Frameless DevOps"
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          commit: "docs(release): strapi v5 extensions packages"
          setupGitUser: false
          title: "docs(release): strapi v5 extensions packages"
          publish: "pnpm run publish:changeset"
